* {
  box-sizing: border-box;
}

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  --acm-blue: #00436c;
  --acm-red: #6b0000;
}

@keyframes blink {
  0% {
    opacity: 1.0;
  }

  100% {
    opacity: 0.0;
  }
}

body {
  margin: 0;
  background: #cccccc;
  height: 100%;
}

.blinky {
  animation: blink 1s ease-in-out alternate-reverse infinite;
}

a {
  color: #00436c;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

/* responsive design */

.container {
  width: 100%;
  margin: auto;
}

@media (min-width: 576px)
{

}

@media (min-width: 768px)
{

}

@media (min-width: 992px)
{

}

@media (min-width: 1200px)
{
  .container {
    width: 1024px;
  }
}
