h1.biggen {
  font-weight: lighter;
  font-size: 2.5em;
}

.banner {
  padding: 1em 2em;
  background: linear-gradient(to bottom right, #F1F1F1, #D9D9D9);
  box-shadow: #9997 0px -2px 5px inset;
}

.banner p {
  line-height: 1.5em;
}

.extra {
  margin: 0;
  height: 0;
  transform: scaleY(0);
}

.extra.show {
  margin: initial;
  height: auto;
  transform: scaleY(1.0);
}

.events {
  padding: 1em 2em;
  font-size: 1em;
}

.event {
  padding: 0.5em 1em;
}
